/** cupcake-theme-banana - v0.1.0 **/
.font-primary {
  font-family: 'Roboto Condensed', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** Roboto Condensed (from google fonts) **/
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../fonts/RobotoCondensed-Bold.ttf) format('truetype');
}
.table > thead > tr > th {
  font-weight: bold;
}
.table > thead > tr > th {
  border-top: none;
  border-bottom: none;
}
.table > thead > tr > th > .desc::after {
  content: "\2193";
}
.table > thead > tr > th > .asc::after {
  content: "\2191";
}
.table.table-hover > tbody > tr:HOVER > td {
  background-color: #F2F5F6;
}
.table.table-vertical tr > td:first-child {
  font-weight: bold;
  width: 25%;
  min-width: 200px;
}
.label {
  line-height: inherit;
  font-weight: normal;
}
.tabs .nav-tabs {
  border-bottom: 1px solid #F2F5F6;
}
.tabs .nav-tabs > li > a {
  color: #141C23;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  opacity: 0.5;
}
.tabs .nav-tabs > li > a:hover {
  opacity: 1;
}
.tabs .nav-tabs > li.active > a,
.tabs .nav-tabs > li.active > a:hover,
.tabs .nav-tabs > li.active > a:focus {
  color: #C9452B;
  background-color: transparent;
  border-width: 0 0 4px 0;
  border-bottom-color: #C9452B;
  opacity: 1;
  cursor: default;
}
.tabs .nav-tabs > li > a.danger:hover,
.tabs .nav-tabs > li.active a.danger,
.tabs .nav-tabs > li.active a.danger:hover,
.tabs .nav-tabs > li.active a.danger:focus {
  color: #FF6363;
  border-bottom-color: #FF6363;
}
.modal .modal-dialog {
  width: 50%;
  max-width: 96%;
}
.modal-lg .modal-dialog,
.modal .modal-dialog-lg {
  width: 80%;
}
.modal-wide .modal-dialog,
.modal .modal-dialog-wide {
  width: 96%;
}
.modal .modal-header.modal-header-image {
  padding: 0;
}
.modal .modal-body h3,
.modal .modal-body .heading {
  margin-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #141C23;
  text-align: center;
}
.modal .modal-body p,
.modal .modal-body .text {
  font-size: 16px;
  line-height: 25px;
  color: #141C23;
  text-align: center;
}
.modal .modal-footer {
  border-top: none;
}
.alert {
  border-radius: 0 !important;
}
/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
/*  Small devices (Tablets, ≥768px) */
/* Medium devices, (Desktops, ≥992px) */
/* Large devices, (Desktops, ≥1200px) */
/** Boostrap v5 compat **/
.pt-1,
.p-1 {
  padding-top: 0.25rem;
}
.pb-1,
.p-1 {
  padding-bottom: 0.25rem;
}
.ps-1,
.p-1 {
  padding-left: 0.25rem;
}
.pe-1,
.p-1 {
  padding-right: 0.25rem;
}
.mt1,
.m1 {
  margin-top: 0.25rem;
}
.mb1,
.m1 {
  margin-bottom: 0.25rem;
}
.ms1,
.m1 {
  margin-left: 0.25rem;
}
.me1,
.m1 {
  margin-right: 0.25rem;
}
.pt-2,
.p-2 {
  padding-top: 0.5rem;
}
.pb-2,
.p-2 {
  padding-bottom: 0.5rem;
}
.ps-2,
.p-2 {
  padding-left: 0.5rem;
}
.pe-2,
.p-2 {
  padding-right: 0.5rem;
}
.mt2,
.m2 {
  margin-top: 0.5rem;
}
.mb2,
.m2 {
  margin-bottom: 0.5rem;
}
.ms2,
.m2 {
  margin-left: 0.5rem;
}
.me2,
.m2 {
  margin-right: 0.5rem;
}
.pt-3,
.p-3 {
  padding-top: 1rem;
}
.pb-3,
.p-3 {
  padding-bottom: 1rem;
}
.ps-3,
.p-3 {
  padding-left: 1rem;
}
.pe-3,
.p-3 {
  padding-right: 1rem;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.sticky-top {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}
.sticky-bottom {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.equal-height {
  display: table-cell;
}
.theme {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #535657;
  background-color: #FFFFFF;
  /** Normalize DATE INPUTS **/
  /* Removes the clear button from date inputs */
  /* Removes the spin button */
  /* Always display the drop down caret */
  /* A few custom styles for date inputs */
}
.theme .container {
  margin-left: 15px;
  margin-right: 15px;
}
.theme h1,
.theme .h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 41px;
  font-weight: 700;
  text-transform: uppercase;
  color: #C9452B;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: normal;
}
.theme h2,
.theme .h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  color: #C9452B;
  margin-bottom: 18px;
}
.theme h3,
.theme .h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #C9452B;
  margin-bottom: 16px;
}
.theme h4,
.theme .h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #C9452B;
  margin-bottom: 1em;
}
.theme h5,
.theme .h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #C9452B;
  margin-bottom: 0.5em;
}
.theme a,
.theme .link {
  color: #C9452B;
}
.theme a:hover,
.theme .link:hover {
  color: #62879D;
  cursor: pointer;
}
.theme strong,
.theme b {
  font-weight: 700;
}
.theme small {
  font-size: 80%;
}
.theme p {
  line-height: 25px;
}
.theme img {
  max-width: 100%;
}
.theme div.image-rounded,
.theme div.image-rounded img,
.theme img.image-rounded {
  border-radius: 5px;
}
.theme .text-primary {
  color: #C9452B;
}
.theme .text-second {
  color: #535657;
}
.theme .text-third {
  color: #354B59;
}
.theme .text-success,
.theme .text-ok {
  color: #49B52A !important;
}
.theme .text-error,
.theme .text-danger {
  color: #FF6363 !important;
}
.theme .text-warning {
  color: #ff9900;
}
.theme .text-center {
  text-align: center !important;
}
.theme .text-right {
  text-align: right !important;
}
.theme .text-left {
  text-align: left !important;
}
.theme .text-bold {
  font-weight: 700;
}
.theme .text-1x {
  font-size: 16px;
  line-height: 16px;
}
.theme .text-2x {
  font-size: 32px;
  line-height: 32px;
}
.theme .text-3x {
  font-size: 48px;
  line-height: 48px;
}
.theme .text-4x {
  font-size: 64px;
  line-height: 64px;
}
.theme .money.money-pos {
  color: #49B52A !important;
}
.theme .money.money-neg {
  color: #FF6363 !important;
}
.theme input[type="date"]::-webkit-clear-button {
  display: none;
}
.theme input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.theme input[type="date"]::-webkit-calendar-picker-indicator {
  /*color: #2c3e50;*/
}
.theme input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  /*color: #95a5a6;*/
  /* font-size: 18px;*/
  border: 1px solid #fafafa;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #C1C1C1;
  background: #fafafa;
  padding: 10px 5px;
  display: inline-block !important;
  visibility: visible !important;
}
.theme input[type="date"],
.theme input[type="date"]:focus {
  /*color: #95a5a6;*/
  border-color: #C1C1C1;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-center-xs {
    text-align: center;
  }
  .btn-block-xs {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .box {
    box-shadow: none !important;
  }
  .box .box-header,
  .box .box-body {
    padding: 10px !important;
  }
}
/*  Small devices (Tablets, ≥768px) */
@media only screen and (min-width: 768px) {
  .text-left-sm {
    text-align: left;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-center-sm {
    text-align: center;
  }
}
/* Medium devices, (Desktops, ≥992px) */
@media only screen and (min-width: 992px) {
  .text-left-md {
    text-align: left;
  }
  .text-right-md {
    text-align: right;
  }
  .text-center-md {
    text-align: center;
  }
  form input.form-control {
    max-width: 400px;
  }
}
/* Large devices, (Desktops, ≥1200px) */
@media only screen and (min-width: 1200px) {
  .text-left-lg {
    text-align: left;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-center-lg {
    text-align: center;
  }
}
ul.nav-horizontal {
  margin: 0 auto;
  padding: 0;
}
ul.nav-horizontal li {
  display: inline-block;
}
ul.nav-horizontal::after {
  clear: both;
}
ul.nav-vertical {
  display: flex;
  flex-direction: column;
}
ul.nav-vertical li.nav-item.active a {
  font-weight: bold;
}
.sidebar {
  background-color: #ffffff;
  color: #333;
  box-shadow: #333 -2px 0 7px;
}
.sidebar a {
  color: #62879D;
}
.sidebar a:hover {
  color: #C9452B;
}
.sidebar .nav {
  display: block;
}
.sidebar .sidebar-item {
  padding-bottom: 20px;
}
.sidebar .sidebar-logo {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.sidebar .sidebar-user {
  display: none;
}
.sidebar .sidebar-user-profile {
  padding-top: 10px;
  text-align: center;
}
.sidebar .sidebar-user-image {
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}
.sidebar .sidebar-user-image .img-user {
  border: 5px solid #141C23;
  width: 120px;
  height: 120px;
}
.sidebar .sidebar-user-counter {
  margin-top: -30px;
  margin-left: 80px;
}
.sidebar .sidebar-user-counter span {
  background-color: #C9452B;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 12px;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
}
.sidebar .sidebar-user.user-success .sidebar-user-image .img-user {
  border-color: #49B52A;
}
.sidebar .sidebar-user.user-success .user-status,
.sidebar .sidebar-user.user-success .user-status a {
  color: #49B52A;
}
.sidebar .sidebar-user.user-danger .sidebar-user-image .img-user {
  border-color: #FF6363;
}
.sidebar .sidebar-user.user-danger .user-status,
.sidebar .sidebar-user.user-danger .user-status a {
  color: #FF6363;
}
.sidebar .sidebar-user.user-warning .sidebar-user-image .img-user {
  border-color: #ff9900;
}
.sidebar .sidebar-user.user-warning .user-status,
.sidebar .sidebar-user.user-warning .user-status a {
  color: #ff9900;
}
.sidebar .sidebar-header-mobile {
  padding: 0;
  margin: 0;
  color: #FFF;
  height: 60px;
  /*
    background-image: url("../img/brand_icon_dark.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 40px;
    */
}
.sidebar .sidebar-header-mobile .mobile-logo {
  float: left;
  padding: 10px;
}
.sidebar .sidebar-header-mobile .mobile-logo img {
  height: 40px;
}
.sidebar .sidebar-header-mobile .mobile-menutoggle {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
}
.sidebar .sidebar-header-mobile .mobile-menutoggle a {
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  margin: 0;
  display: inline-block;
  color: #C9452B;
}
.sidebar .sidebar-header-mobile .mobile-user {
  float: right;
  padding: 10px;
}
.sidebar .sidebar-header-mobile .mobile-user img {
  height: 40px;
}
.sidebar .sidebar-header-screen {
  margin-bottom: 2em;
}
.sidebar .sidebar-menu {
  display: none;
}
.sidebar .sidebar-menu ul.nav li {
  border-bottom: 1px solid #1D2730;
  /*
        'acceped', 'arrow-down', 'arrow-left', 'arrow-right', 'arrow-up',
            'cake-sheet', 'check', 'danger', 'dashcan', 'details','dokument',
            'email','handy','key','megaphone','moon','ok','option','person','pin',
            'post','star','sun','support','tool','uebersicht','user','write','x'
        */
}
.sidebar .sidebar-menu ul.nav li:first-child {
  border-top: 1px solid #1D2730;
}
.sidebar .sidebar-menu ul.nav li a {
  font-weight: 300;
  width: 100%;
  display: inline-block;
  padding: 11px 10px;
}
.sidebar .sidebar-menu ul.nav li a:before {
  padding-right: 40px;
}
.sidebar .sidebar-menu ul.nav li a:hover,
.sidebar .sidebar-menu ul.nav li a:link,
.sidebar .sidebar-menu ul.nav li a:active,
.sidebar .sidebar-menu ul.nav li a:visited {
  background-color: transparent;
}
.sidebar .sidebar-menu ul.nav li.active {
  background-color: #C9452B;
}
.sidebar .sidebar-menu ul.nav li.active > a {
  color: #FFFFFF;
}
.sidebar .sidebar-bottom {
  position: relative;
}
.sidebar .sidebar-bottom .sidebar-menu ul li:first-child {
  border-top-width: 0;
}
.sidebar .sidebar-bottom-info {
  padding: 20px 0 0 20px;
}
/** RESPONSIVE **/
@media only screen and (min-height: 700px) and (min-width: 992px) {
  .sidebar .sidebar-bottom {
    position: absolute !important;
    bottom: 20px;
    left: 0;
    width: 100%;
  }
  .sidebar .sidebar-bottom .sidebar-menu ul li:first-child {
    border-top-width: 1px;
  }
}
/* Extra small devices (phones, 768px and down) */
/*  Small devices (Tablets, ≥768px) */
/* Medium devices, (Desktops, ≥992px) */
@media only screen and (min-width: 992px) {
  body.has-sidebar {
    padding-left: 240px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    max-width: 240px;
    height: 100%;
    min-height: 500px;
  }
  .sidebar .sidebar-user {
    display: block !important;
    visibility: visible;
  }
  .sidebar .sidebar-menu {
    display: block !important;
    visibility: visible;
  }
}
/* Large devices, (Desktops, ≥1200px) */
.theme {
  /* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
  /* Customize the label (the container) */
  /** INFO BOX (inspired by AdminLTE) **/
  /** SMALL BOX (inspired by AdminLTE) **/
  /**
 * Hamburger Menu animation from
 * @author Valery Alikin
 * @link https://codepen.io/AlikinVV/pen/WOOPyR
 * @link https://github.com/alikinvv/hamburger-animation
 * @link https://github.com/fm-labs/hamburger-animation (fork)
 */
}
.theme div.checkbox {
  min-height: unset;
  padding: 0;
  margin: 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.theme div.checkbox > label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  line-height: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theme div.checkbox > label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: -35px;
  margin-top: 0;
  z-index: 8000;
}
.theme div.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #C1C1C1;
  background: transparent;
  font-family: Verdana, sans-serif;
}
.theme div.checkbox > label:hover input ~ .checkmark {
  background-color: #FFF;
}
.theme div.checkbox > label:hover input ~ .checkmark::after {
  border-color: #88C7EA;
}
.theme div.checkbox input:checked ~ .checkmark {
  background-color: #88C7EA;
  border-color: #88C7EA;
}
.theme div.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.theme div.checkbox > label input:checked ~ .checkmark:after {
  display: block;
}
.theme div.checkbox .checkmark:after {
  left: 8px;
  top: 2px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.theme .btn {
  border: none;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
  padding: 12px 24px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  background-color: #CCC;
}
.theme .btn:hover {
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}
.theme .btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.theme .btn-big {
  padding: 20px 35px;
}
.theme .btn-small {
  padding: 9px 15px;
}
.theme .btn-wide {
  width: 50%;
  max-width: 320px;
}
.theme .btn.has-icon {
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: right center;
  text-align: left;
}
.theme .btn-default {
  background-color: #F2F5F6;
  color: #141C23;
}
.theme .btn-primary {
  background-color: #C9452B;
  color: #FFFFFF;
}
.theme .btn-primary:hover {
  color: #FFFFFF;
}
.theme .btn-danger {
  background-color: #FF6363;
  color: #FFFFFF;
}
.theme .btn-dark {
  background-color: #141C23;
  color: #FFFFFF;
}
.theme .btn-light {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.theme .btn-light:hover {
  background-color: #FFFFFF;
  color: #FF6363;
}
.theme .box {
  margin-bottom: 1.2em;
  border-radius: 0;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}
.theme .box .box-header {
  padding: 1.2em;
  font-weight: 700;
  background: #f7f7f7;
}
.theme .box .box-header.with-border {
  border-bottom: inherit;
}
.theme .box .box-body {
  padding: 0.6em;
}
.theme .box .box-body table {
  width: 100%;
  margin: 0;
}
.theme .box .box-footer {
  padding: 0.6em;
}
.theme .box .box-footer.with-border {
  border-top: inherit;
}
.theme .box .btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.theme .box.box-default {
  border-top: 2px solid inherit;
}
.theme .box.box-primary {
  border-top: 2px solid #C9452B;
}
.theme .box.box-success {
  border-top: 2px solid #49B52A;
}
.theme .box.box-danger {
  border-top: 2px solid #FF6363;
}
.theme .box.box-warning {
  border-top: 2px solid #ff9900;
}
.theme .box.box-info {
  border-top: 2px solid blue;
}
.theme .box-solid {
  border: inherit;
}
.theme .box-solid.box-primary {
  border-color: #C9452B;
}
.theme .box-solid.box-primary .box-header {
  background-color: #C9452B;
  color: #FFFFFF;
}
.theme .box-solid.box-success {
  border-color: #49B52A;
}
.theme .box-solid.box-success .box-header {
  background-color: #49B52A;
  color: #FFFFFF;
}
.theme .box-solid.box-danger {
  border-color: #FF6363;
}
.theme .box-solid.box-danger .box-header {
  background-color: #FF6363;
  color: #FFFFFF;
}
.theme .box-solid.box-warning {
  border-color: #ff9900;
}
.theme .box-solid.box-warning .box-header {
  background-color: #ff9900;
  color: #FFFFFF;
}
.theme .box-solid.box-info {
  border-color: blue;
}
.theme .box-solid.box-info .box-header {
  background-color: blue;
  color: #FFFFFF;
}
.theme .info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.theme .info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
.theme .info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.theme .info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.theme .info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.theme .info-box .progress,
.theme .info-box .progress .progress-bar {
  border-radius: 0;
}
.theme .info-box .progress {
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.theme .small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
}
.theme .small-box > .inner {
  padding: 10px;
}
.theme .small-box h3,
.theme .small-box p {
  z-index: 5;
}
.theme .small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.theme .small-box p {
  font-size: 15px;
}
.theme .small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.theme .small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.theme .small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.theme .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 25px;
  margin-bottom: 1.8em;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.theme .card-default .card-heading {
  position: absolute;
  padding: 0.3em 0.6em;
  color: #FFF;
}
.theme .card-default .card-body {
  padding: 1.8em 0.6em 0.6em 0.6em;
  background-color: #88C7EA;
  color: #FFF;
  height: 200px;
}
.theme .card-default .card-body h3 {
  color: #FFF;
  margin-bottom: 0.6em;
}
.theme .card-default .card-image,
.theme .card-default .card-body.image {
  padding: 0 0 0 0;
  overflow: hidden;
}
.theme .card-default .card-image img,
.theme .card-default .card-body.image img {
  min-width: 100%;
  max-width: none;
  width: auto;
  height: auto;
}
.theme .card-default .card-footer {
  padding: 0.6em 0.6em 0.6em 0.6em;
}
.theme .card-wide {
  overflow: hidden;
  max-height: 300px;
}
.theme .card-wide .card-heading {
  position: absolute;
  padding: 0.3em 0.6em;
  color: #FFF;
  z-index: 1000;
}
.theme .card-wide .card-image {
  position: absolute;
  width: 50%;
  overflow: hidden;
}
.theme .card-wide .card-image img {
  max-width: none;
  width: auto;
  height: auto;
}
.theme .card-wide .card-body {
  margin-left: 50%;
  padding: 0.6em;
  background-color: #FFF;
  color: #141C23;
}
.theme .card-wide h3 {
  color: #141C23;
  margin-bottom: 0.6em;
}
.theme form fieldset legend {
  font-weight: bold;
  margin-bottom: 1.2em;
}
.theme form label {
  display: block;
  margin-bottom: 5px;
}
.theme form .form-group {
  min-height: 42px;
}
.theme form .row {
  margin-bottom: 1em;
}
.theme form .form-control {
  color: #314354;
  font-size: 16px;
  line-height: 1em;
  border-width: 0;
  border-radius: 0;
  border-color: #C1C1C1;
}
.theme form .form-control:focus,
.theme form .form-control:active {
  box-shadow: none;
  color: #141C23 !important;
  border-color: #88C7EA !important;
}
.theme form .form-control:hover {
  box-shadow: none;
  color: #1D2730 !important;
  border-color: #1D2730 !important;
}
.theme form input.form-control {
  border-width: 0 0 2px 0;
  padding: 10px;
  height: auto;
  box-shadow: none !important;
  background-color: #fafafa;
}
.theme form textarea.form-control {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-width: 2px;
}
.theme form input.input-block {
  width: 100% !important;
  max-width: 100% !important;
}
.theme form .help-block {
  padding: 3px 0;
}
.theme form .required label::after {
  content: "*";
}
.theme form .has-error label {
  color: #FF6363;
}
.theme form .has-error label,
.theme form .has-error .help-block,
.theme form .has-error .control-label,
.theme form .has-error .radio,
.theme form .has-error .checkbox,
.theme form .has-error .radio-inline,
.theme form .has-error .checkbox-inline,
.theme form .has-error .radio label,
.theme form .has-error .checkbox label,
.theme form .has-error .radio-inline label,
.theme form .has-error .checkbox-inline label {
  color: #314354;
}
.theme form .has-error .form-control {
  border-color: #FF6363;
}
.theme form .has-error .form-control:focus,
.theme form .has-error .form-control:active {
  box-shadow: none;
  color: #FF6363 !important;
  border-color: #FF6363 !important;
}
.theme form .has-error .form-control:hover {
  box-shadow: none;
  color: #FF6363 !important;
  border-color: #FF6363 !important;
}
.theme form .has-error .form-error {
  color: #FF6363;
  border-color: #FF6363;
}
.theme form .has-error .help-block {
  color: #FF6363;
  margin: 0;
  font-size: 90%;
}
.theme form.form-horizontal .control-label {
  padding-top: 12px;
  text-align: left;
}
.theme form.form-horizontal .form-group.select .control-label {
  padding-top: 10px;
}
.theme form.form-centered .form-control {
  text-align: center;
}
.theme form div.input-checkbox label > input {
  margin: 5px 5px 0 0;
}
.theme form div.checkbox-wrapper > label {
  display: inline-block;
  margin: 5px 0;
}
.theme form div.checkbox-wrapper > label > input {
  margin: 5px 5px 0 0;
}
.theme form .select2-container {
  max-width: 400px;
}
.theme [class^="icon-"],
.theme [class*=" icon-"] {
  font-size: 16px;
  line-height: 1em;
}
.theme [class^="icon-"].icon-2x:before,
.theme [class*=" icon-"].icon-2x:before {
  font-size: 2em;
}
.theme [class^="icon-"].icon-3x:before,
.theme [class*=" icon-"].icon-3x:before {
  font-size: 3em;
}
.theme [class^="icon-"].icon-4x:before,
.theme [class*=" icon-"].icon-4x:before {
  font-size: 4em;
}
.theme [class^="icon-"].icon-5x:before,
.theme [class*=" icon-"].icon-5x:before {
  font-size: 5em;
}
.theme [class^="icon-"].icon-6x:before,
.theme [class*=" icon-"].icon-6x:before {
  font-size: 6em;
}
.theme .hamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
}
.theme .hamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #fff;
}
.theme .menu-icon {
  position: absolute;
  overflow: hidden;
  padding: 15px;
  cursor: pointer;
}
.theme .menu-icon.active:before {
  animation: slideLeft 0.2s 0.05s ease-out forwards;
}
.theme .menu-icon.active:after {
  animation: slideRight 0.2s 0.05s ease-out forwards;
}
.theme .menu-icon.active .bar {
  animation: rotate45 0.2s ease-out forwards;
}
.theme .menu-icon.active .bar:last-child {
  animation: rotate135 0.2s 0.2s ease-out forwards;
}
.theme .menu-icon.back:before {
  transform: translateX(-120%);
  animation: slideBack 0.2s 0.05s ease-out forwards;
}
.theme .menu-icon.back:after {
  transform: translateX(120%);
  animation: slideBack 0.2s 0.05s ease-out forwards;
}
.theme .menu-icon.back .bar {
  transform: rotate(-45deg);
  animation: rotateBack 0.2s ease-out forwards;
}
.theme .menu-icon.back .bar:last-child {
  transform: rotate(-135deg);
  animation: rotateBack 0.2s 0.2s ease-out forwards;
}
.theme .menu-icon:before {
  content: '';
  display: block;
  width: 40px;
  height: 7px;
  background: #88C7EA;
}
.theme .menu-icon:after {
  content: '';
  display: block;
  width: 40px;
  height: 7px;
  background: #88C7EA;
}
.theme .menu-icon .bar {
  display: block;
  width: 40px;
  height: 7px;
  background: #88C7EA;
  margin: 14px 0;
}
.theme .menu-icon .bar:last-child {
  opacity: 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 25px;
}
@keyframes rotate135 {
  form {
    opacity: 1;
    transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: rotate(-135deg);
  }
}
@keyframes rotate45 {
  to {
    transform: rotate(-45deg);
  }
}
@keyframes rotateBack {
  to {
    transform: rotate(0);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(122%);
  }
}
@keyframes slideLeft {
  to {
    transform: translateX(-122%);
  }
}
@keyframes slideBack {
  to {
    transform: translateX(0);
  }
}
.theme .select2-container--bootstrap {
  display: inline-block !important;
  margin-right: 3px;
}
.theme .select2-container--bootstrap .select2-selection__clear {
  margin-right: 5px;
  margin-left: 5px;
}
/* Extra small devices (phones, 768px and down) */
/*  Small devices (Tablets, ≥768px) */
/* Medium devices, (Desktops, ≥992px) */
/* Large devices, (Desktops, ≥1200px) */
