/** cupcake-theme-banana - v0.1.0 **/
.font-primary {
  font-family: 'Roboto Condensed', sans-serif;
}
/**
 * CSS VARS
 */
:root {
  --header-height: 75px;
  --header-bg-color: #1D2730;
  --footer-bg-color: #141C23;
  --section-alt-bg-color: #1D2730;
  --section-alt-color: #1D2730;
}
/**
 * LAYOUT
 */
body {
  padding-bottom: calc(var(--header-height) * 2);
}
body.fixed-header {
  padding-top: var(--header-height);
}
.container {
  margin-left: auto;
  margin-right: auto;
}
/**
 * GENERAL STYLING
 */
h3,
.h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: none;
}
p {
  color: #141C23;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5625em;
}
/**
 * BUTTONS
 */
.btn-more {
  min-width: 250px;
  max-width: 320px;
  margin-top: 20px;
}
/**
 * HEADER
 */
.top-header {
  background-color: var(--header-bg-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 25px;
  top: 0;
  width: 100%;
  height: var(--header-height);
  opacity: 1;
  z-index: 10000;
}
.top-header .top-header-nav {
  margin-top: 20px;
  text-align: right;
}
.top-header .top-header-nav ul li a:not(.btn) {
  padding: 5px 10px;
}
.header-logo img {
  max-height: var(--header-height);
}
.header-mobile {
  background: var(--header-bg-color);
}
.header-mobile .mobile-menu-trigger {
  padding: 15px;
  text-align: right;
}
.header-mobile .mobile-menu-trigger img:HOVER {
  cursor: pointer;
}
.header-mobile .mobile-menu-trigger .menu-trigger-close {
  display: none;
}
.header-mobile .mobile-menu {
  padding-bottom: 2em;
  overflow: hidden;
  height: auto;
}
.header-mobile .mobile-menu ul {
  list-style: none inside none;
  padding: 0;
  margin: 0;
}
.header-mobile .mobile-menu ul li {
  border-bottom: 1px solid #354B59;
}
.header-mobile .mobile-menu ul li a,
.header-mobile .mobile-menu ul li span {
  display: block;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 25px;
}
.header-mobile .mobile-menu ul li a:HOVER,
.header-mobile .mobile-menu ul li span:HOVER {
  text-decoration: none;
}
.header-mobile .mobile-menu ul li:last-child {
  border-bottom-color: transparent;
}
.header-mobile.collapsed .mobile-menu-trigger .menu-trigger-open {
  display: none;
}
.header-mobile.collapsed .mobile-menu-trigger .menu-trigger-close {
  display: inline-block;
}
.header-mobile.collapsed .mobile-menu {
  transition: 2s easy-in;
  height: 0 !important;
  padding-bottom: 0 !important;
}
/**
 * CONTENT SECTION
 */
.main {
  position: relative;
}
.main > .flash .alert {
  margin-top: 1em;
}
.content {
  padding-top: 1em;
  padding-bottom: 1em;
}
.content .content-heading {
  margin-bottom: 60px;
}
.content .page {
  padding-top: 50px;
  padding-bottom: 100px;
}
.content .page .section-page {
  max-width: 700px;
}
/**
 * FOOTER
 */
.footer {
  z-index: 9999;
}
.footer .footer-1 {
  background-color: var(--header-bg-color);
  padding: 20px 0;
}
.footer .footer-1 h3 {
  color: #FFF;
  margin-bottom: 25px;
}
.footer .footer-1 p {
  color: #FFF;
}
.footer .footer-2 {
  background-color: var(--footer-bg-color);
  padding: 20px 0;
}
.footer .footer-2 ul.nav-horizontal li {
  display: inline-block;
}
.footer .footer-2 ul.nav-horizontal li:last-child a {
  padding-right: 0;
}
.footer .footer-2 ul.nav-horizontal li a {
  font-size: 14px;
  padding: 10px 10px;
}
.footer .footer-2 ul.nav-horizontal li a:hover {
  background: transparent;
}
.footer .footer-2 .footer-copyright p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #FFF;
}
/**
 * SECTIONS
 */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section .section-heading h1,
.section .section-heading h2,
.section .section-heading h3 {
  text-transform: none;
}
.section .section-heading h1 {
  font-size: 45px;
  line-height: 1.2em;
  margin-bottom: 45px;
}
.section .section-heading p {
  max-width: 50%;
  color: #C9452B;
}
.section-centered {
  text-align: center;
}
.section-centered p {
  margin-left: auto;
  margin-right: auto;
}
.section-alt {
  background-color: var(--header-bg-color);
}
.section-alt h1,
.section-alt h2,
.section-alt h3 {
  color: #FFFFFF;
}
.section-alt p {
  color: #62879D;
}
.section-narrow .container {
  max-width: 700px;
}
/**
 * MISC
 */
.maintenance-notice {
  top: var(--header-height);
}
/**
 * RESPONSIVE media queries (compatible with bootstrap3)
 */
/* Extra small devices (phones, 768px and down) */
/*  Small devices (Tablets, ≥768px) */
/* Medium devices, (Desktops, ≥992px) */
/* Large devices, (Desktops, ≥1200px) */
